header {
    height: 145px;
    width: 100%;
    background-color: #ffde59;
}

.wrapper {
    height: 100%;
    max-width: 960px;
    display: flex;
    margin: 0 auto;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search-bar {
    margin-bottom: 5px;
    align-self: flex-end;
    
    display: flex;
}

.buscar{
    height: 35px;
    width: 500px;
    border: none;
}
.btn {
    height: 37px;
    border: none;
}

nav {
    align-self: flex-end;
}

.nav-btn {
    padding: 10px;
    color: rgba(51,51,51,.6);
    text-decoration: none;
}

a,img {
    height: 100%;
}

.lupa{
    height: 25px;
}
