<header>
    <div class="wrapper">
        <a class="logo" href="/">
            <img src="{{logo}}" alt="Logo">
        </a>
        <div class="content">
            <form class="search-bar" action="">
                <input class="buscar" type="text" placeholder="Buscar item">
                <button class="btn">
                    <span class="material-icons">
                        search
                    </span>
                </button>
            </form>
            <nav class="categories">
                <a class="nav-btn" href="">Pistols</a>
                <a class="nav-btn" href="">Rifles</a>
                <a class="nav-btn" href="">Knives</a>
                <a class="nav-btn" href="">SMGs</a>
                <a class="nav-btn" href="">Perfil</a>
                <a class="nav-btn " href="">
                    <span class="material-icons shop">
                        shopping_cart
                    </span>
                </a>
            </nav>
        </div>
        <span class="material-icons menu">
            view_headline
        </span>
    </div>
    
</header>

