<header>
    <div class="wrapper">
        <a class="logo" href="/">
            <img src="{{logo}}" alt="Logo">
        </a>
        <div class="content">
            <div class="search-bar">
                <input #buscar class="buscar" type="text" placeholder="Buscar item" list="produts">
                <datalist id="produts">
                    <option *ngFor="let item of produtosBuscados" [value]="item.name" (click)="buscarItem()">{{item.name}}</option>
                </datalist>   
                
                <button (click)="buscarItem()" class="btn-buscar">
                    <span class="material-icons">
                        search
                    </span>
                </button>
            </div>
            <nav class="categories">
                <a class="nav-btn" href="">Pistols</a>
                <a class="nav-btn" href="">Rifles</a>
                <a class="nav-btn" href="">Knives</a>
                <a class="nav-btn" href="">SMGs</a>
                <a class="nav-btn" href="">Perfil</a>
                <a class="nav-btn " href="">
                    <span class="material-icons shop">
                        shopping_cart
                    </span>
                </a>
            </nav>
        </div>
        <span class="material-icons menu">
            view_headline
        </span>
    </div>
    
</header>

