header {
    background-color: #ffde59;
    height: 145px;
    width: 100%;
}

.wrapper {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.search-bar {
    align-self: flex-end;
    display: flex;
    margin-bottom: 5px; 
}

.buscar{
    border: none;
    border-radius: 5px 0 0 5px;
    height: 35px;
    width: 500px;
}
.btn {
    border: none;
    height: 37px;
}

nav {
    align-self: flex-end;
}

.nav-btn {
    color: rgba(51,51,51,.6);
    padding: 10px;
    text-decoration: none;
}

a,img {
    height: 100%;
}

.lupa{
    height: 25px;
}

.shop {
    height: 100%;
    display: flex; 
    align-items: flex-start;
}

.material-icons {
    color: #040303;
}
