<header>
    <div class="wrapper">
        <a href="/">
            <img src="../../assets/images/logo2.png" alt="Logo">
        </a>
        <div class="content">
            <form class="search-bar" action="">
                <input class="buscar" type="text" placeholder="Buscar item">
                <button class="btn">
                    <span class="material-icons">
                        search
                    </span>
                </button>
            </form>
            <nav>
                <a class="nav-btn" href="">Pistols</a>
                <a class="nav-btn" href="">Rifles</a>
                <a class="nav-btn" href="">Knives</a>
                <a class="nav-btn" href="">SMGs</a>
                <a class="nav-btn" href="">Perfil</a>
                <a class="nav-btn" href="">
                    <span class="material-icons">
                        shopping_cart
                    </span>
                </a>
            </nav>
        </div>
    </div>
    
</header>

