header {
    background-color: #ffde59;
    height: auto;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-areas: 
        "logo search menu"
    ;
    align-items: center;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.search-bar {
    align-self: flex-end;
    display: flex;
    margin-bottom: 5px; 
    grid-area: search;
}

.buscar{
    border: none;
    border-radius: 5px 0 0 5px;
    height: 35px;
}

.btn {
    border: none;
    height: 37px;
    border-radius: 0 5px 5px 0;
}

nav {
    display: none;
}

a,img {
    width: 100%;
}

.lupa{
    height: 25px;
}

.shop {
    margin: 8px;
    padding-top: 8px;
}

.material-icons {
    color: #040303;
}

.menu {
    grid-area: menu;
    margin: 9px;
}

/*Desktop*/
@media screen and (min-width: 1024px) {
    nav {
        display: block;
        align-self: flex-end;
        margin-bottom: 4px;
    }
    
    .nav-btn {
        color: rgba(51,51,51,.6);
        padding: 10px;
        text-decoration: none;
    }

    .menu {
        display: none;
    }

    a,img {
        width: 65%;
    }

    .buscar{
        width: 500px;
    }

    .search-bar {
        margin: 9px;
    }
} 

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px)  {
    a,img {
        width: 65%;
    }

    .buscar{
        width: 300px;
    }
}