.banner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 338px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px;
}

img{
    height: 338px;
    max-width: 960px;

    
}

.image {
    -webkit-transition: margin-left 500ms ease-in;
    -moz-transition: margin-left 500ms ease-in;
    -o-transition: margin-left 500ms ease-in;
    transition: margin-left 500ms ease-in;

    
}

.inputs {
    display: flex;
    justify-content: center;
}

button {
    height: 48px;
    background-color: #fff;
    border: none;
    color: blue;

    font-size: 18px;
    font-weight: 500;
}

.check {
    border-radius: 50%;
}