.content {
    padding: 35px;
    display: grid;
    grid-template-areas: 
        'header'
        'item';
    grid-column-gap: 1I5px;
}

.cabecalho {
    grid-area: header;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span:active {
    background-color: #e7e7e7;
}

.card {
    max-width: 300px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    cursor: pointer;
}

img {
    padding: 25px;
}

.name {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 5px;
}

.value {
    padding: 5px;
    font-size: 14px;
    color: #00A650;
    margin-bottom: 15px;
}

.material-icons {
    cursor: pointer;
}

/*Desktop*/
@media screen and (min-width: 1231px) {
    .content {
        grid-template-areas: 
            'header header header header'
            'item item item item';
    }
} 

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1230px)  {
    .content {
        grid-template-areas: 
            'header header header'
            'item item item';
    }

    .card {
        max-width: 200px;
        /* background-color: #f7f7f7;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        margin: 15px auto;
        cursor: pointer; */
    }
}
